<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Element Communications</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <script defer src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
    <div class="paralax">
        <!-- #region paralax blobs -->
        <div id="paralaxTop"></div>
        <!-- TODO add shadow to lines 1 and 2 -->
        <div class="paralax-layer paralax-background">
            <!-- Should probably use picture here -->
            <img src="./assets/background_blobs_1920.png" alt="" class="background">
        </div>

        <div class="paralax-layer paralax-logo_with_line">
            <img src="./assets/logo_with_line.svg" alt="" class="logo_with_line">
        </div>

        <div class="paralax-layer paralax-mb-triangle" id="paralax">
            <img src="./assets/blobs/triangle_hq.svg" alt="" class="mb-triangle">
        </div>

        <div class="paralax-layer paralax-small_blob_1">
            <img src="./assets/blobs/small_blob_1.svg" alt="" class="small_blob_1">
        </div>
        <!-- #region main blob -->
        <div class="paralax-layer paralax-mb_back_blob">
            <img src="./assets/blobs/mb_back_blob.svg" alt="" class="mb_back_blob">
        </div>

        <div class="paralax-layer paralax-mb_mid_blob_shadow">
            <img src="./assets/blobs/mb_mid_blob_shadow.png" alt="" class="mb_mid_blob_shadow reduced-opacity">
        </div>

        <div class="paralax-layer paralax-mb_mid_blob">
            <img src="./assets/blobs/mb_mid_blob.svg" alt="" class="mb_mid_blob">
        </div>

        <div class="paralax-layer paralax-mb_main_blob_shadow">
            <img src="./assets/blobs/mb_main_blob_shadow.png" alt="" class="mb_main_blob_shadow reduced-opacity">
        </div>

        <div class="paralax-layer paralax-mb_main_blob">
            <img src="./assets/blobs/mb_main_blob.svg" alt="" class="mb_main_blob">
        </div>
        <div class="paralax-layer paralax-mb_text">
            <div class="mb_text">
                <h1>Komunikace</h1>
                <p>má mnoho vrstev</p>
            </div>
        </div>

        <div class="paralax-layer paralax-line_1">
            <img src="./assets/blobs/line_1.svg" alt="" class="line_1">
        </div>

        <div class="paralax-layer paralax-line_2">
            <img src="./assets/blobs/line_2.svg" alt="" class="line_2">
        </div>
        <!-- #endregion main blob-->

        <div class="paralax-layer paralax-small_blob_5">
            <img src="./assets/blobs/small_blob_5.svg" alt="" class="small_blob_5">
        </div>

        <div class="paralax-layer paralax-b2_main">
            <img src="./assets/blobs/b2_main.svg" alt="" class="b2_main">
        </div>
        <div class="paralax-layer paralax-b2_text">
            <div class="b2_text">
                <p>Každý‌ ‌element‌<br /> ‌hraje‌ ‌ve‌&nbsp;‌sdělení‌ ‌<br />důležitou‌ ‌roli‌ ‌
                </p>
            </div>
        </div>


        <div class="paralax-layer paralax-triangle_2">
            <img src="./assets/blobs/triangle_hq.svg" alt="" class="triangle_2 rotated-triangle">
        </div>

        <div class="paralax-layer paralax-small_blob_7">
            <img src="./assets/blobs/small_blob_7.svg" alt="" class="small_blob_7">
        </div>

        <div class="paralax-layer paralax-b3_main">
            <img src="./assets/blobs/b3_main.svg" alt="" class="b3_main">
        </div>

        <div class="paralax-layer paralax-b3_hexagon_shadow">
            <img src="./assets/blobs/b3_hexagon_shadow.svg" alt="" class="b3_hexagon_shadow">
        </div>
        <div class="paralax-layer paralax-b3_text">
            <div class="b3_text">
                <p>Správně zvolená slova přenášejí myšlenky i&nbsp;emoce ‌
                </p>
            </div>
        </div>
        <div class="paralax-layer paralax-line_3">
            <img src="./assets/blobs/line_3.svg" alt="" class="line_3">
        </div>

        <!-- #region small blobs -->
        <div class="paralax-layer paralax-small_blob_2">
            <img src="./assets/blobs/small_blob_2.svg" alt="" class="small_blob_2">
        </div>
        <div class="paralax-layer paralax-small_blob_3">
            <img src="./assets/blobs/smal_blob_3.svg" alt="" class="small_blob_3">
        </div>

        <!-- <div class="paralax-layer paralax-small_blob_4">
            <img src="./assets/blobs/small_blob_4.svg" alt="" class="small_blob_4">
        </div> -->



        <!-- #endregion small blobs -->
        <!-- #endregion -->

        <main class="static-content">
            <section class="section-main-text" id="mainText">
                <div class="heading-wrapper">
                    <h1>Najděme společně nejoptimálnější formu Vaší&nbsp;business&nbsp;komunikace</h1>
                    <p class="first"><strong>Kdo je Váš typický zákazník?</strong> Jak s ním komunikovat? Jak sdělit
                        benefity? Proč budovat lovebrand? Lze dát značce duši? Souvisí to s firemní kulturou?
                        <br /> <strong>Svět se mění a s tím i vnímání trhu</strong>.
                    </p>
                </div>
                <div class="text-wrapper">
                    <h2>Projektové řízení</h2>
                    <p>Zkušenosti mi napoví, jak sestavit tým pro řešení Vašeho zadání. Jsem hlavou projektu, řeším
                        průběh zakázky se všemi stranami, nesu za něj zodpovědnost. <strong>Projektové řízení je akční,
                            úsporné, efektivní.</strong> </p>
                    <h2>Vše začíná myšlenkou</h2>
                    <p>Každý máme jiný úhel pohledu, proto je svět <strong>barevný</strong>. V komunikaci se zákazníkem
                        ale hledáme <strong>jeho</strong> autentický focus. Pak potřebným informacím rozumí.<br />
                        Nadchněte ho, sdělte mu svůj
                        příběh, zaujměte, řekněte mu, jak je pro Vás důležitý.
                    </p>
                    <p><strong>K cíli vede mnoho cest, ale cíl je jen jeden!</strong></p>
                </div>
            </section>
            <section class="media-info" id="mediaInfo">
                <div class="hexagon-controls hexagon-card-row-wrapper dark-text">
                    {{#each mediaCategoriesControls}}
                    <a href="#mediaInfo" data-i="{{@index}}"
                        class="hexagon-card carousel-control carousel-control-button-{{@index}} {{#if this.first}} selected {{/if}}">
                        <img class="" src="{{this.img}}" alt="radio">
                        <div class="text-wrapper">
                            <h3 class="{{{this.color}}}">{{{this.title}}} </h3>
                        </div>
                    </a>
                    {{/each}}
                </div>
                <div class="carousel-wrapper">
                    <a href="#mediaInfo" class="carousel-control-prev">
                        <img src="./assets/next.svg" alt="" class="icon">
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a href="#mediaInfo" class="carousel-control-next">
                        <img src="./assets/next.svg" alt="" class="icon">
                        <span class="visually-hidden">Next</span>
                    </a>
                    <div id="slider" class="swiper-container">
                        <div class="swiper-wrapper">

                            {{!-- --}}
                            {{!-- Trad Media --}}
                            {{!-- --}}

                            <!-- Inside a carousel slide -->
                            <div class="swiper-slide carousel-slide slide-0">
                                <h2 class="deep-purple">Tradiční média</h2>
                                <!-- Wide list on the top, spanning the whole grid containing a list of possible products -->
                                <div class="list">
                                    <p class=""> kampaň v rádiích <span class="bullet">•</span> načasování <span
                                            class="bullet">•</span> plánování včetně strategie komunikace <span
                                            class="bullet">•</span> scénář reklamních spotů <span
                                            class="bullet">•</span> casting <span class="bullet">•</span> realizace
                                        <span class="bullet">•</span> zvukové logo <span class="bullet">•</span>
                                        televizní kampaň <span class="bullet">•</span> nákup včetně plánování <span
                                            class="bullet">•</span> sponzoring
                                    </p>
                                </div>
                                <img src="./assets/tradMedia_photo1.webp" alt="" class="wide-photo trad-media">
                                <!-- Main text paragraph about the specific media -->
                                <div class="main-text-wrapper deep-purple trad-media">
                                    <img src="./assets/tradMedia.svg" alt="Icon" class="big-icon">
                                    <h3 class="">Rádio</h3>
                                    <p class="main-text">
                                        Chcete umocnit a povýšit Váš brand? <b>Rádio přenáší emoce, zvuky,
                                            podporuje představivost</b> a je všude. Patří mezi nadlinková
                                        média, <b>buduje značku.</b><br />
                                        Práce v rádiu a pro rádia mě provází celým životem. Zkušenosti promítám do
                                        plánování kampaní i přípravy spotů. Nejde totiž jen o sdělení. <b>Nastavení
                                            komunikace v
                                            rádiu vypovídá o firmě mnohem víc.</b> Vím, jak je pro výsledek kampaně
                                        důležitý dobře
                                        připravený a profesionálně zpracovaný spot. Velmi doporučuji i zvukovou
                                        identifikaci –
                                        zvukové logo. <b>Chcete přece, ať Vás poznají…</b>
                                    </p>
                                </div>
                                <!-- Portfolio -->
                                <div class="portfolio">
                                    <div class="portfolio-item">
                                        <h3 class="deep-purple">Zvukové logo</h3>
                                        <hr class="deep-purple">
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link music"
                                                data-src="api.soundcloud.com/tracks/984114712">
                                                <img src="./assets/audioIcon.svg" alt=""
                                                    class="portfolio-link-icon music">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Koupelny JaS</b> – z původního Cup songu se znělka
                                                časem vyloupla do modernějšího soundu. Má svou rockovou a drum verzi.
                                                Někteří tvrdí, že se nedá dostat z hlavy…
                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link music"
                                                data-src="api.soundcloud.com/tracks/980566585">
                                                <img src="./assets/audioIcon.svg" alt=""
                                                    class="portfolio-link-icon music">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Malý a Velký</b> – někdy se představa o zvuku klientovi špatně
                                                interpretuje. Toto zvukové logo vzniklo bez vědomí klienta. A líbilo se!
                                                Dokonce i porotě celostátní soutěže rozhlasových spotů.
                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph"><a class="portfolio-link music"
                                                data-src="api.soundcloud.com/tracks/984114508">
                                                <img src="./assets/audioIcon.svg" alt=""
                                                    class="portfolio-link-icon music">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Ski aréna Karlov</b> – jéé, jéé…taky byste lyžovali?
                                            </p>
                                        </div>
                                        <picture class="display-large portfolio-image">
                                            <source media="(min-width: 901px)" srcset="./assets/tradMedia_photo2.jpg">
                                            <source media="(max-width: 900px)"
                                                srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="
                                                sizes="100%">
                                            <img src="./assets/tradMedia_photo2.jpg" alt="nahravaci studio"
                                                class=" portfolio-image">
                                        </picture>
                                    </div>
                                    <div class="portfolio-item">
                                        <h3 class="deep-purple">Spoty</h3>
                                        <hr class="deep-purple">
                                        <div class="portfolio-paragraph"><a class="portfolio-link music"
                                                data-src="api.soundcloud.com/tracks/980572237">
                                                <img src="./assets/audioIcon.svg" alt=""
                                                    class="portfolio-link-icon music">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Koupelny JaS</b> - budují svůj brand dlouhodobě přes éter
                                                zejména celoplošných rádií. Tato varianta aktuálního spotu je hudebně
                                                obohacena o prvky rocku.
                                                Hudba je autorská, klient ji využívá pod veškerým potřebným audio i
                                                video
                                                obsahem.
                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph"><a class="portfolio-link music"
                                                data-src="api.soundcloud.com/tracks/980570656">
                                                <img src="./assets/audioIcon.svg" alt=""
                                                    class="portfolio-link-icon music">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Nejči nábytek</b> - nabízí vedle vlastních <b>Nejči design
                                                    sedaček</b>
                                                také
                                                italský
                                                sortiment. Volba podpořit originalitu a exkluzivitu značky Vivaldiho
                                                Stormem
                                                byla jasná. Netradiční crossoverová úprava popové houslistky Lucie
                                                Klasek
                                                navíc podtrhuje dynamičnost brandu, moderní pojetí showroomů i
                                                atraktivitu
                                                sortimentu. Voiceover&nbsp;–&nbsp;Jan Šťastný.
                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph"><a class="portfolio-link music"
                                                data-src="api.soundcloud.com/tracks/980567776">
                                                <img src="./assets/audioIcon.svg" alt=""
                                                    class="portfolio-link-icon music">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Malý a Velký</b> – ukázka práce se zvukovým logem v produktovém
                                                spotu.
                                                Jednotná identita v průběhu času vytváří nezaměnitelnost a jedinečnost
                                                vnímání brandu a zapisuje do podvědomí – v tomto případě informaci: Na
                                                Fordy
                                                jsme tu MY!
                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph"><a class="portfolio-link music"
                                                data-src="api.soundcloud.com/tracks/980585413">
                                                <img src="./assets/audioIcon.svg" alt=""
                                                    class="portfolio-link-icon music">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Obchody 24</b> – jeden z dílů úspěšné série produktových
                                                rádiových
                                                spotů. Originální projev Jana Dolanského dává značce jednoznačnou tvář.
                                                Správný casting bývá velkou mírou úspěchu.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-text-wrapper">
                                    <img src="./assets/televize.svg" alt="Icon" class="big-icon">

                                    <h3 class="">Televize</h3>
                                    <p class="main-text deep-purple-a">
                                        Je čas se blýsknout? Jste připraveni posunout brand, službu či
                                        produkt mílovými kroky? <b>Televize je stále velice efektivním komunikačním
                                            kanálem.</b> <br /> Plánování, nákup i příprava šotů vychází z
                                        předem definovaného cíle. <b>V rámci spolupráce s produkčními studii není
                                            problém stát se
                                            součástí některých populárních pořadů,</b> soutěžit s diváky či prezentovat
                                        produkt.
                                    </p>
                                </div>
                                <div class="second-portfolio portfolio">
                                    <div class="portfolio-item">
                                        <h3 class="deep-purple">Televizní šoty, sponzoring</h3>
                                        <hr class="deep-purple">
                                        <div class="portfolio-paragraph"><a class="portfolio-link youtube"
                                                data-src="https://www.youtube.com/embed/videoseries?list=PL_aEqRRwrwVuXl5tRUaVqI3ME_VksIRkt">
                                                <img src="./assets/youtubeIcon.svg" alt=""
                                                    class="portfolio-link-icon youtube">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Koupelny JaS</b> - série tří image televizních šotů pro sponzoring
                                                pořadu
                                                Jak se staví sen na TV prima. Nízkého rozpočtu jsme dosáhli natáčením
                                                přímo
                                                v koupelnovém studiu a malým štábem.
                                            </p>
                                        </div>

                                        <div class="portfolio-image-wrapper">
                                            <a class="portfolio-link youtube"
                                                data-src="https://www.youtube.com/embed/S2f2yZEFmT0">
                                                <img src="./assets/koupJas1.png" alt="">
                                            </a>
                                            <a class="portfolio-link youtube"
                                                data-src="https://www.youtube.com/embed/omZu8wDno94">
                                                <img src="./assets/koupJas2.png" alt=>
                                            </a>
                                            <a class="portfolio-link youtube"
                                                data-src="https://www.youtube.com/embed/ac8VRJQ3hfg">
                                                <img src="./assets/koupJas3.png" alt="">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <!-- Inside a carousel slide -->

                            {{!-- --}}
                            {{!-- Digi Media --}}
                            {{!-- --}}


                            <div class="swiper-slide carousel-slide slide-1">
                                <h2 class="light-blue">Digitální média</h2>
                                <!-- Wide list on the top, spanning the whole grid containing a list of possible products -->
                                <div class="list">
                                    <p class=""> RTB a Facebook Display <span class="bullet">•</span> prospecting a
                                        retargeting <span class="bullet">•</span> SEO <span class="bullet">•</span>
                                        branding na klik <span class="bullet">•</span> PPC <span class="bullet">•</span>
                                        PR články <span class="bullet">•</span> obsah <span class="bullet">•</span>
                                        video na FB, YT <span class="bullet">•</span>
                                        sponzorované příspěvky <span class="bullet">•</span> spolupráce s influencery
                                    </p>
                                </div>
                                <img src="./assets/digiMedia_photo1.jpg" alt="" class="wide-photo">
                                <!-- Main text paragraph about the specific media -->
                                <div class="main-text-wrapper light-blue">
                                    <img src="./assets/DigiMedia.svg" alt="Smartphone icon" class="big-icon">
                                    <h3 class="">Online marketing</h3>
                                    <p class="main-text">
                                        Svět online marketingu zásadně změnilo programatické plánování. <b>Najdou si
                                            nás!</b> Všichni to známe. <b>Zanecháváme stopy, které využívají správci
                                            kampaní a cíleně servírují nabídky.</b>
                                        Umíme se pohybovat v 98% on-line prostředí a trefit zákazníky s velkou
                                        přesností.
                                        Pro většinu segmentů je online nezastupitelný a do komunikačního mixu prostě
                                        patří. Navíc, dobře zanalyzovaná kampaň <b>umí najít odpovědi na mnoho otázek o
                                            konzumentech.</b>
                                    </p>
                                    <h3 class="">Sociální média</h3>
                                    <p class="main-text">
                                        Facebook, Instagram, Youtube! <b>Tvrdí někdo, že tam nemá zákazníky? OMYL!</b>
                                        Jen najít způsob, jak se jim vetřít do přízně, mluvit jejich řečí a trefit se do
                                        myšlení a vkusu – co největší části z nich!
                                        <b>A co obecně fanoušci chtějí?</b> Kámoše – ne mentory! Inspiraci – ne obchodní
                                        tlak!
                                        A hlavně – připravte se na to, že <b>budování vztahu chce čas!</b> Jako v
                                        životě.
                                    </p>

                                </div>
                                <div class="portfolio">
                                    <div class="portfolio-item">
                                        <h3 class="light-blue">Online marketing</h3>
                                        <hr class="light-blue">
                                        <div class="portfolio-paragraph"><a class="portfolio-link image"
                                                data-src="./assets/portfolio/Brylex.gif">
                                                <img src="./assets/imageIcon.svg" alt=""
                                                    class="portfolio-link-icon image">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="light-blue-a">
                                                <b>Optika Brylex</b> – sada bannerů pro RTB a FB Display kampaň.
                                                Příprava
                                                více typů barev či textových mutací je správnou volbou. Počáteční
                                                zapojení
                                                všech bannerů do kampaně postupně vyselektuje ty úspěšnější. Online
                                                marketing totiž poskytuje okamžitou interakci a uživatelé sami
                                                rozhodnou,
                                                které zpracování informace je pro ně přijatelnější.
                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph"><a class="portfolio-link image"
                                                data-src="./assets/portfolio/Edyn.gif">
                                                <img src="./assets/imageIcon.svg" alt=""
                                                    class="portfolio-link-icon image">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="light-blue-a">
                                                <b>MŠ EDIN</b> – bannery na web a pro FB kampaň. Pozvat rodiče na
                                                prohlídku školky či Dny otevřených dveří lze i touto cestou. 170 tisíc
                                                plánovaných
                                                impressí - zobrazení - přivedlo na stránky 2300 uživatelů, tzn. zájemců
                                                z
                                                řad rodičů.
                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph"><a class="portfolio-link image"
                                                data-src="./assets/portfolio/bazar.gif">
                                                <img src="./assets/imageIcon.svg" alt=""
                                                    class="portfolio-link-icon image">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="light-blue-a"><b>Bazar lesní techniky</b> – takto vypadají bannery
                                                pro
                                                RTB a FB Display kampaň pro klienta, jehož cílovými zákazníci
                                                jsou
                                                těžařské firmy. Intuice nás vedla správným směrem. Stroje i prostředí
                                                musí
                                                vypadat reálně. Když se kácí les, padají totiž třísky… a lítá bahno.</p>
                                        </div>
                                    </div>
                                    <div class="portfolio-item">
                                        <h3 class="light-blue">Sociální Média</h3>
                                        <hr class="light-blue">
                                        <div class="portfolio-paragraph"><a class="portfolio-link youtube"
                                                data-src="https://www.youtube.com/embed/videoseries?list=PL_aEqRRwrwVu8YqcU-UmIFsb9jQtQ-h9u">
                                                <img src="./assets/youtubeIcon.svg" alt=""
                                                    class="portfolio-link-icon youtube">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="light-blue-a">
                                                <b>Nejči design</b> - při natáčení materiálu pro prezentaci showroomů
                                                jsme
                                                cíleně pořídili další záběry. Spoustu záběrů... Rádi jsme využili
                                                potenciálu a
                                                vytvořili při jednom content na sociální média.

                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link facebook"
                                                data-src="https://www.facebook.com/JaSkoupelny/posts/1571278689929447">
                                                <img src="./assets/fbIcon.svg" alt=""
                                                    class="portfolio-link-icon facebook">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="light-blue-a">
                                                <b>Koupelny JaS</b> - jsou na sociálních sítích nováčky. Cílem je
                                                informovat o
                                                novinkách, povedených realizacích, představovat vzorové koupelny v
                                                showroomech a přinášet ukázky trendů, které avizují designéři a
                                                architekti.
                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph"><a class="portfolio-link facebook"
                                                data-src="https://www.facebook.com/BazarLesniTechniky/posts/190071526124233">
                                                <img src="./assets/fbIcon.svg" alt=""
                                                    class="portfolio-link-icon facebook">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="light-blue-a"><b>Facebook Bazaru lesní techniky</b> - dokázal, co
                                                zmůže
                                                fenomén
                                                komunity. Facebooková stránka vznikla v létě 2020 a okamžitě přilákala
                                                fanoušky, kteří tak vehementně sdíleli příspěvky s nabízenými stroji, že
                                                se
                                                stal FB největším prodejním kanálem. Správná příprava příspěvků,
                                                dostatečná
                                                podpora, SEO, přehledný web, odkazování, příkladný informační servis ze
                                                strany majitelů a jejich rovný přístup – a funguje to. <b>Nikdy to není
                                                    jen
                                                    náhoda.</b></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-text-wrapper">
                                    <img src="./assets/digiMedia2.svg" alt="" class="big-icon">
                                    <h3 class="">Tvorba webů</h3>
                                    <p class="main-text light-blue-a">
                                        Tvrorba webů má své fáze! Příprava zadání, nastavení cílů, struktura, textace,
                                        web design a samotné programování.
                                        <b>Je to proces, kdy se z ničeho narodí něco a hraje významnou roli.</b> Ať už
                                        je web prodejním či pouze informačním kanálem.
                                    </p>
                                </div>
                                <div class="portfolio">

                                    <div class="portfolio-item">
                                        <h3 class="light-blue">Tvorba webů</h3>
                                        <hr class="light-blue">
                                        <div class="portfolio-paragraph"><a class="portfolio-link facebook"
                                                data-src="https://skimysak.cz">
                                                <img src="./assets/webIcon.svg" alt="" class="portfolio-link-icon web">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="light-blue-a">
                                                <b>Ski Myšák</b> – areál Myšák je součástí resortu SKI aréna Karlov pod
                                                Pradědem. Na stránce je nejvíc navštěvováno aktuální počasí a atraktivní
                                                jsou online pohledy přes webkamery.
                                            </p>
                                        </div>
                                        <a href="https://skimysak.cz">
                                            <img src="./assets/portfolio/skimysak.jpg" alt="Screenshot webu skimysak.cz"
                                                class="portfolio-image skimysak">
                                        </a>
                                    </div>
                                    <div class="portfolio-image-wrapper digiMedia-photo display-large">
                                        {{!-- <picture class=" portfolio-image">
                                            <source media="(min-width: 901px)" srcset="./assets/code1.jpg">
                                            <source media="(max-width: 900px)"
                                                srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="
                                                sizes="100%">
                                            <img src="./assets/code1.jpg" alt="Kod" class=" portfolio-image">
                                        </picture> --}}
                                    </div>
                                </div>
                            </div>

                            {{!-- --}}
                            {{!-- COPYWRITING --}}
                            {{!-- --}}

                            <div class="swiper-slide carousel-slide slide-0">
                                <h2 class="pink">Copywriting</h2>
                                <!-- Wide list on the top, spanning the whole grid containing a list of possible products -->
                                <div class="list">
                                    <p class=""> tisková zpráva <span class="bullet">•</span> PR článek <span
                                            class="bullet">•</span> scénář reklamního spotu <span
                                            class="bullet">•</span> komentář k videoprezentaci <span
                                            class="bullet">•</span> textace webu <span class="bullet">•</span> blogy
                                    </p>
                                </div>
                                <img src="./assets/copywriting_photo1.jpg" alt="" class="wide-photo copywriting">
                                <!-- Main text paragraph about the specific media -->
                                <div class="main-text-wrapper pink">
                                    <img src="./assets/Copywriting.svg" alt="" class="big-icon">
                                    <h3 class="">Copywriting</h3>
                                    <p class="main-text">
                                        Slovo má obrovskou moc. Potěší, povzbudí, urazí, rozpláče, přesvědčí i
                                        manipuluje. <b>Slovu předchází myšlenka.</b>
                                        Věříte v sílu myšlenky? <b>Potom pozor na to, co říkáme a píšeme.</b> V
                                        komunikaci se zákazníkem <b>hledáme přesnost vyjadřování, efektivitu, styl,
                                            formu a jeho pohled.</b>
                                        KOMU-nikace. Vidíte? Nedůležitější v komunikaci je <b>KOMU je sdělení
                                            určeno.</b> Občas přirovnávám marketingovou komunikaci k radě profesora
                                        Matějíčka týkající se výchovy dětí. <b>Něco se nesmí, něco se musí a o zbytku
                                            můžeme diskutovat.</b>
                                        Ano, určitá pravidla je potřeba ctít.
                                    </p>
                                </div>
                                <div class="portfolio">
                                    <div class="portfolio-item">

                                        <h3 class="pink">PR články, blogy</h3>
                                        <hr class="pink">
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link docs"
                                                data-src="assets\\portfolio\\Jak vybrat správnou.pdf">
                                                <img src="./assets/textIcon.svg" alt=""
                                                    class="portfolio-link-icon docs">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="pink-a">
                                                <b>Nejči nábytek</b> - občas je fajn mít na webu pár dobře míněných rad.
                                                Shrnout základní pravdila,
                                                která zákazníky zorientují při výběru, připomenout, co prioritně
                                                zohlednit,
                                                na jaké otázky si odpovědět.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="portfolio-item">

                                        <h3 class="pink">Interwiew</h3>
                                        <hr class="pink">
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link docs"
                                                data-src="assets\\portfolio\\Interview popová Lucie Klasek.pdf">
                                                <img src="./assets/textIcon.svg" alt=""
                                                    class="portfolio-link-icon docs">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="pink-a">
                                                <b>Lucie Klasek – popová houslistka</b> - promo články k propagaci
                                                umělců patří. Většinou se píše o jejich
                                                aktuálních projektech, posunech, plánech… No, teď jsou už delší dobu u
                                                ledu.

                                            </p>
                                        </div>
                                    </div>
                                    <div class="portfolio-item">

                                        <h3 class="pink">Tisková zpráva</h3>
                                        <hr class="pink">
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link docs"
                                                data-src="assets\\portfolio\\The Stringz Ostrava TZ.pdf">
                                                <img src="./assets/textIcon.svg" alt=""
                                                    class="portfolio-link-icon docs">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="pink-a">
                                                <b>The Stringz v Ostravě</b> - tisková zpráva je oficiální sdělení,
                                                které v nejlepším případě zařadí
                                                do obsahu co nejvíce novinářů. K tomu je potřeba umět nahlížet do jejich
                                                podvědomí, takzvaně jim vidět do hlav, přát si a doufat. Ale opravdu!
                                                Nejdůležitější v tiskové zprávě patří do titulku a perexu, až pak se
                                                postupně doplňují a rozvíjejí další informace a kontext.


                                            </p>
                                        </div>
                                        <img src="./assets/copywriting_photo2.jpg" alt=""
                                            class="portfolio-image cropped">
                                        <h3 class="pink">Komentáře k videoprezentacím</h3>
                                        <hr class="pink">
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link video"
                                                data-src="https://www.youtube.com/watch?v=0UCv0jNCBuU">
                                                <img src="./assets/youtubeIcon.svg" alt=""
                                                    class="portfolio-link-icon video">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="pink-a">
                                                <b>Sedačky by Nejči design </b> - k filmu jsem psala komentář, který
                                                namlouval jako vše pro Nejči - Honza Šťastný. Příběh sedaček začíná u
                                                tradičního materiálu, popisuje technologii výroby i benefity, které
                                                zákazníky zajímají.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="portfolio-item">
                                        <img src="./assets/copywriting_photo4.jpg" alt=""
                                            class="portfolio-image copywriting-boure-strun">

                                        <h3 class="pink">Scénáře reklamních rozhlasových spotů
                                        </h3>
                                        <hr class="pink">
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link music"
                                                data-src="api.soundcloud.com/tracks/980583994">
                                                <img src="./assets/audioIcon.svg" alt=""
                                                    class="portfolio-link-icon music">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="pink-a">
                                                <b>Pruniwerk</b> – Je fajn, když náborová kampaň zároveň prozradí víc o
                                                firmě, což v případě rádia lze hezky dosáhnout. Také je třeba ohlídat
                                                jasně
                                                definované benefity a podmínky nástupu. Když je o Vás slyšet,
                                                prezentujte se v souladu s Vaší firemní kulturou.
                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link docs" data-src="assets\\portfolio\\SEN final.pdf">
                                                <img src="./assets/textIcon.svg" alt=""
                                                    class="portfolio-link-icon docs">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="pink-a">
                                                <b>Hotel SEN</b> – scénář reklamních rozhlasových spotů, které mají
                                                stejnou kostru, stejný hlas a podkres, ale každý komunikuje jiný
                                                produkt. V tomto případě svatby a firemní akce.
                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link docs"
                                                data-src="assets\\portfolio\\Irský kotlet -Chodura - final.pdf">
                                                <img src="./assets/textIcon.svg" alt=""
                                                    class="portfolio-link-icon docs">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="pink-a">
                                                <b>Beskydské uzeniny Chodura</b> – produktový spot, jeden z mnoha, které
                                                vypovídají o kvalitě, poctivém přístupu a podněcují chuť na zmíněnou
                                                delikatesu.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            {{!-- --}}
                            {{!-- Produkce --}}
                            {{!-- --}}

                            <div class="swiper-slide carousel-slide slide-1">
                                <h2 class="deep-purple">Produkce</h2>
                                <!-- Wide list on the top, spanning the whole grid containing a list of possible products -->
                                <div class="list">
                                    <p class=""> audio spot <span class="bullet">•</span> video šot <span
                                            class="bullet">•</span> video prezentace <span class="bullet">•</span>
                                        content pro sociální média <span class="bullet">•</span> prezentační film <span
                                            class="bullet">•</span> produktová videa <span class="bullet">•</span>
                                        reportáž <span class="bullet">•</span> pozvánka <span class="bullet">•</span>
                                        reklamní grafika <span class="bullet">•</span> grafický design &#38; corporate
                                        identity <span class="bullet">•</span> tiskoviny <span class="bullet">•</span>
                                        bannery <span class="bullet">•</span> venkovní reklama <span
                                            class="bullet">•</span>
                                        polepy vozového parku
                                    </p>
                                </div>
                                <img src="./assets/produkce_photo1.jpg" alt="" class="wide-photo produkce">
                                <!-- Main text paragraph about the specific media -->
                                <div class="main-text-wrapper deep-purple">
                                    <img src="./assets/Produkce.svg" class="big-icon" alt="">
                                    <p class="main-text">
                                        Kreativní cesta od zadání k cíli! Správně vystavěný brief, nápady,
                                        brainstormingy, různé pohledy, konfrontace.
                                        SHODA! <b>Sejít se v představě o výsledném produktu. Shodnout se v týmu i s
                                            klientem.</b> Pak spolupráce a sdílení myšlenek s kameramany, zvukaři,
                                        střihači,
                                        animátory, grafiky.
                                        <b>A je to.</b>
                                    </p>
                                </div>
                                <div class="portfolio">
                                    <div class="portfolio-item">
                                        <h3 class="deep-purple">Content pro sociální média</h3>
                                        <hr class="deep-purple">
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link video"
                                                data-src="https://youtube.com/embed/rP4KFWGD4Gg">
                                                <img src="./assets/youtubeIcon.svg" alt=""
                                                    class="portfolio-link-icon video">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Koupelny JaS</b> - na sociálních médiích je skvělé zařazovat videa.
                                                Obraz je tisíc slov a zákazník si
                                                rychle a jasně udělá představu – například o sérii obkladů METEOR a
                                                typech sanity.
                                            </p>
                                        </div>
                                        <img src="./assets/produkce_photo2.jpg" alt="" class="portfolio-image cropped">
                                    </div>
                                    <div class="portfolio-item">
                                        <h3 class="deep-purple">Videoprezentace</h3>
                                        <hr class="deep-purple">
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link video"
                                                data-src="https://www.youtube.com/embed/q_9khLdS828">
                                                {{!-- "https://www.youtube.com/watch?v=YxIk86I_Qfk" --}}
                                                <img src="./assets/youtubeIcon.svg" alt=""
                                                    class="portfolio-link-icon video">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Pars Komponenty</b> - technologická videa nebo také Technologie in
                                                House
                                                jsou pro strojní
                                                a výrobní firmy zárukou spolehlivosti. V Pars Komponenty se děje vše.
                                                Obrábění,
                                                ohýbání, svařování, lakování, lepení. Důkaz ve třech jazykových
                                                mutacích.
                                            </p>
                                        </div>
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link video"
                                                data-src="https://youtube.com/embed/uMqG7j4sb40">
                                                <img src="./assets/youtubeIcon.svg" alt=""
                                                    class="portfolio-link-icon video">
                                                <p class="icon-link play">
                                                    play
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Nejči design představení showroomů</b> - vyzkoušet sedačku a mít
                                                srovnání znamená pro zákazníka SPRÁVNĚ vybrat. Je
                                                důležité opakovat, že osobní zkušenost je nejvíc. Výběr tady mají, že?
                                            </p>
                                        </div>
                                        <h3 class="deep-purple">Polepy fiermních vozů</h3>
                                        <hr class="deep-purple">
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link image" data-src="./assets/portfolio/polep.jpg">
                                                <img src="./assets/imageIcon.svg" alt=""
                                                    class="portfolio-link-icon image">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                            </a>
                                            <p class="deep-purple-a">
                                                Firemní kára <b>Bazaru lesní techniky</b> se prý povedla… Líbí se a je
                                                ji
                                                vidět.
                                                Je správné, když firma využije veškeré dostupné nosiče pro prezentaci
                                                svého brandu.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="portfolio-item">
                                        <h3 class="deep-purple">Tiskoviny</h3>
                                        <hr class="deep-purple">
                                        <div class="portfolio-paragraph">
                                            <a class="portfolio-link docs" data-src="assets\\portfolio\\Stepper_MQ.pdf">
                                                <img src="./assets/textIcon.svg" alt=""
                                                    class="portfolio-link-icon docs">
                                                <p class="icon-link open">
                                                    open
                                                </p>
                                                {{!-- assets\\portfolio\\stepper_maketa.jpg" --}}
                                                {{!-- assets\\portfolio\\revolut_maketa.jpg" --}}
                                            </a>
                                            <p class="deep-purple-a">
                                                <b>Pars Komponenty</b> - produktové tiskové materiály ve třech mutacích,
                                                které vypovídají o vývoji i realizacích, slouží pro zahraniční obchodní
                                                jednání a prezentaci na mezinárodních veletrzích. Vše v rámci corporate
                                                identity.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="portfolio-item">
                                        <img src="./assets/portfolio/stepper_maketa.webp" alt="Maketa brozury"
                                            class="portfolio-image">
                                    </div>
                                </div>
                            </div>


                            {{!-- --}}
                            {{!-- Eventy --}}
                            {{!-- --}}

                            <div class="swiper-slide carousel-slide slide-2">
                                <h2 class="light-blue">Eventy</h2>
                                <!-- Wide list on the top, spanning the whole grid containing a list of possible products -->
                                <div class="list">
                                    <p class=""> firemní family day <span class="bullet">•</span> konference <span
                                            class="bullet">•</span> slavnostní recepce <span class="bullet">•</span>
                                        výročí <span class="bullet">•</span> otevření či znovuotevření pobočky <span
                                            class="bullet">•</span> prezentace nového produktu <span
                                            class="bullet">•</span> společenská akce <span class="bullet">•</span> team
                                        building <span class="bullet">•</span> hudební produkce včetně supportu <span
                                            class="bullet">•</span> hudební vystoupení
                                    </p>
                                </div>
                                <img src="./assets/eventy_photo1.jpg" alt="" class="wide-photo eventy">
                                {{!-- <img src="" alt="" class="wide-photo"> --}}
                                <!-- Main text paragraph about the specific media -->
                                <div class="main-text-wrapper light-blue">
                                    <img src="./assets/Eventy.svg" alt="Event icon" class="big-icon">
                                    <p class="main-text">
                                        Doba virová zastavila veškerá setkávání, prezentace, akce. A potvrdilo se, jak
                                        všem chybí.
                                        <b>Ani nejlepší online přenosy zkrátka nezajistí to pravé prožívání, emoce,
                                            zážitky a sdílení.</b>
                                        Pokud plánujete firemní událost a potřebujete ji zorganizovat komplexně nebo jen
                                        částečně doplnit, jsem k dispozici.
                                    </p>
                                </div>
                                <!-- Portfolio -->
                                <div class="second-portfolio portfolio eventy">
                                    <div class="portfolio-item">
                                        <img src="./assets/eventy_photo2.jpg" alt="" class="portfolio-image">
                                    </div>
                                    <div class="portfolio-item">
                                        <h3 class="light-blue">Připravujeme</h3>
                                        <hr class="light-blue">
                                        <div class="portfolio-paragraph">
                                            <p class="light-blue-a"> 10. výročí Nadačního fondu Kousek po kousku -
                                                slavnostní galavečer 15.&nbsp;5.&nbsp;2021
                                            </p>
                                        </div>
                                        <img src="./assets/modelka.jpg" alt="" class="portfolio-image">
                                    </div>
                                </div>
                            </div>



                            {{!-- --}}
                            {{!-- Reklamni predmety --}}
                            {{!-- --}}

                            <div class="swiper-slide carousel-slide slide-3">
                                <h2 class="pink">Reklamní předměty</h2>
                                <!-- Wide list on the top, spanning the whole grid containing a list of possible products -->
                                <div class="list">
                                    <p class="">
                                    </p>
                                </div>
                                <img src="./assets/predmety_photoX.jpg" alt="" class="wide-photo predmety">
                                <!-- Main text paragraph about the specific media -->
                                <div class="main-text-wrapper pink">
                                    <img src="./assets/Path 1.svg" alt="Predmety icon" class="big-icon">
                                    <p class="main-text">
                                        Dárky pro obchodní partnery, zákazníky, zaměstnance. Základním kritériem výběru
                                        je užitnost. Pokud vyberete správně, dostanete svůj brand do rodin, dokonce v
                                        téměř 40 % případů až na dva roky. Znáte jiný způsob, jak toho dosáhnout?
                                        Abychom se ale trefili a připravili opravdu cílenou nabídku, <b>je důležité
                                            ujasnit
                                            si, pro koho je co určeno.</b> Zohlednit segment podnikání je dobré, ale ne
                                        za každou cenu.

                                    </p>
                                    <p class="main-text">
                                        <b>A potisk? Většinou platí méně je více.</b> Pak stoupá i užitnost a
                                        střízlivější potisk dosáhne často většího efektu. Vše je individuální. Po
                                        zvážení konkrétní nabídky budete mít snazší rozhodování.
                                    </p>
                                </div>
                                <!-- Portfolio -->
                                <div class="second-portfolio portfolio predmety">
                                    {{!-- <div class="portfolio-image-wrapper predmety">
                                        <img src="./assets/portfolio/predmety.webp" alt="">
                                    </div> --}}
                                    <a data-src="./assets/portfolio/predmety/94192_15_apl (1).jpg"
                                        class="portfolio-link image portfolio-image-wrapper">
                                        <img src="./assets/portfolio/predmety/94192_15_apl (1).jpg" alt="">
                                    </a>
                                    <a data-src="./assets/portfolio/predmety/AD_diar-2021 (1).jpg"
                                        class="portfolio-link image portfolio-image-wrapper">
                                        <img src="./assets/portfolio/predmety/AD_diar-2021 (1).jpg" alt="">
                                    </a>
                                    <a data-src="./assets/portfolio/predmety/cajova-kolekce_apl (1).jpg"
                                        class="portfolio-link image portfolio-image-wrapper">
                                        <img src="./assets/portfolio/predmety/cajova-kolekce_apl (1).jpg" alt="">
                                    </a>
                                    <a data-src="./assets/portfolio/predmety/coko_apl.jpg"
                                        class="portfolio-link image portfolio-image-wrapper">
                                        <img src="./assets/portfolio/predmety/coko_apl.jpg" alt="">
                                    </a>
                                    <a data-src="./assets/portfolio/predmety/kalendar-stolni_2021_simulace-listy.jpg"
                                        class="portfolio-link image portfolio-image-wrapper">
                                        <img src="./assets/portfolio/predmety/kalendar-stolni_2021_simulace-listy.jpg"
                                            alt="">
                                    </a>

                                    <a data-src="./assets/portfolio/predmety/STRETCH_apl.jpg"
                                        class="portfolio-link image portfolio-image-wrapper">
                                        <img src="./assets/portfolio/predmety/STRETCH_apl.jpg" alt="">
                                    </a>
                                    <a data-src="./assets/portfolio/Mikina - náhled záda.jpg"
                                        class="portfolio-link image portfolio-image-wrapper">
                                        <img src="./assets/portfolio/Mikina - náhled záda.jpg" alt="">
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="hexagon-controls hexagon-card-row-wrapper dark-text">
                    {{#each mediaCategoriesControls}}
                    <a href="#mediaInfo" data-i="{{@index}}"
                        class="hexagon-card carousel-control carousel-control-button-{{@index}} {{#if this.first}} selected {{/if}}">
                        <img class="" src="{{this.img}}" alt="radio">
                        <div class="text-wrapper">
                            <h3 class="{{{this.color}}}">{{{this.title}}} </h3>
                        </div>
                    </a>
                    {{/each}}
                </div>

            </section>
            <section class="hexagon-background hexagon-background-text-parent kontakt dark-text" id="kontakt">
                <h2 class="contact-phrase pink">Více na osobní schůzce</h2>
                <div class="contact-container">
                    <div class="logo-wrapper">
                        <img src="./assets/Logo.svg" alt="Element Communications">
                    </div>
                    <div class="contact-wrapper">
                        <h3>Eva Loskotová</h3>
                        <ul>
                            <li> <a href="tel:+420776003455">+420 776 003 455</a><img src="./assets/icon_phone.svg"
                                    alt="phone icon" class="phone-icon">
                            </li>
                            <li> <a href="mailto:loskotovae@gmail.com">loskotovae@gmail.com</a> <span
                                    class="email-icon">@</span>
                            </li>
                            {{!-- <li>
                                <p class="ic">46159878 <span class="ic-icon">IČ</span></p>
                            </li>
                            <li>
                                <p class="dic">7258085274 <span class="dic-icon">DIČ</span></p>
                            </li>
                            <li class="address">
                                <img src="./assets/map-24px.svg" alt="Ikonka mapy" class="address-icon">
                                <div class="address-wrapper">
                                    <p class="address">Slatina 15</p>
                                    <p class="address">742 93</p>
                                    <p class="address">Slatina u Bílovce</p>
                                </div>
                            </li> --}}
                            <!-- <li> email.email@email.com</li> -->
                        </ul>
                    </div>
                </div>
                <footer>
                    <p>Element Communications © 2020 Slatina&nbsp;15, 742&nbsp;93 Slatina&nbsp;u&nbsp;Bílovce,
                        <strong>IČ:</strong>&nbsp;46159878
                        <strong>DIČ:</strong>&nbsp;7258085274
                    </p>
                </footer>
            </section>
        </main>
    </div>

    <div class="navigation">
        <div class="navigation-container">
            <img class="sm logo" src="./assets/Logo.svg" alt="Element Communications">
            <button class="sm close-navigation">
                <img src="./assets/cross.svg" alt="">
            </button>
            <div class="navigation-wrapper">
                <a href="#paralaxTop" class="selected">
                    <div class="hexagon-icon"></div> <span>Úvod</span>
                </a>
                <a href="#mainText">
                    <div class="hexagon-icon"></div> <span>Projektové řízení</span>
                </a>
                <a href="#mediaInfo">
                    <div class="hexagon-icon"></div> <span>Portfolio</span>
                </a>
                <a href="#kontakt">
                    <div class="hexagon-icon"></div> <span>Kontakt</span>
                </a>
            </div>
        </div>
        <div class="navigation-overlay sm">

        </div>
    </div>
    <div class="navigation-sm">
        <img src="./assets/logo_with_line.svg" alt="Element Communications" class="background">
        <button class="hamburger show-navigation">
            <img src="./assets/burger.png" alt="">
        </button>
    </div>
    <div class="overlay" id="overlay">
        <button class="close-button">
            <img src="./assets/cross.svg" alt="close">
        </button>
    </div>
    <div class="overlay" id="overlay2">
        <button class="close-button-2">
            <img src="./assets/cross.svg" alt="close">
        </button>
        <button class="carousel-control-prev">
            <img src="./assets/next.svg" alt="" class="icon">
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next">
            <img src="./assets/next.svg" alt="" class="icon">
            <span class="visually-hidden">Next</span>
        </button>

    </div>
    {{!--
    <script src="https://cdn.jsdelivr.net/gh/lyfeyaj/swipe/swipe.js"></script> --}}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>


    {{!--
    <script src="./index.js"></script> --}}
</body>

</html>